/*DEBUT ECRAN NOUVELLE FICHE*/

*{
    margin:0;
    padding:0;  
    box-sizing: border-box;
}

body{
    min-width:100vw;
    max-width: 100vw;
    height: 100dvh;
}

.ecran{
    width:100%;
    height:100%;
    overflow:hidden;
}

.hidden{
    display:none !important;
}


#nouvelle-fiche{
    width:100vw;
    height:100dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #D9D9D9;
}

.header3 button{
    background-color: transparent;
    border-style: none;
}

.header3{
    height: 10%;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid 2px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.header3-1{
    display:flex;
    justify-content: space-between;
}

.dossier{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-family: "Rethink Sans", sans-serif;
    font-weight: bold;
}

.date-et-heure{
    font-family: "Ruluko", sans-serif;
}

#titre{
    overflow-wrap: break-word;
    outline: none;
    width:95%;
    height:auto;
    min-height: 10%;
    background-color:#969696;
    padding-left: 5%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

}

#titre:empty::before{
    content: "Titre";
}

.espace-notes{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    height:90%;
}

.ecrire-note{
    background-color: #D9D9D9;
    flex-grow: 1;
    overflow-y: auto;
}

.ecrire{
    padding: 5%;
    height: 100%;
    outline: none;
    border:none;
}

.ecrire:empty::before{
    content:"Ecrire ici...";

}

/*style du menu clavier DANS NOUVELLE NOTE*/

.section-menu-clavier{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:0;
    width:100%;
    
}

.menu-clavier{
    position: relative;
    width:100%;
    display:flex;
    gap:0.3rem;
    border:black solid 1px;
    
}

.btn1{
    background-color:#969696;
    width:20%;
    border-width: 1px;
}
.btn1:hover{
    border-width: 2px;
    background-color: #656565;
}

.espace-clavier{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.btn{
    background-color:#969696;
    width:20%;
    border-width: 1px;
}
.btn:hover{
    border-width: 2px;
    background-color: #656565;
}
.btn-g{
    background-color:#969696;
    width:40%;
    border-width: 1px;
}
.btn-g:hover{
    border-width: 2px;
    background-color: #656565;
}
.h1{
    border-top-left-radius: 20px;
    border-width: 1px;
    border-bottom-left-radius: 20px;
}
.corps{
    border-top-right-radius: 20px;
    border-width: 1px;
    border-bottom-right-radius: 20px;
}

.groupement{
    display: flex;
    justify-content: center;
    width: 100%;
    height:16%;
    gap:2rem;
}

.titres{
    width:100%;
    height:16.6%;
    display:flex;
    justify-content: space-between;
    gap:0.5rem;
}

.formes{
    width:70%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.espaces{
    width:30%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.alignement{
    width:40%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.listes{
    width:60%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.reserve{
    width:100%;
    height:17%;
    display:flex;
    justify-content: space-between;
    gap:0.5rem;
}

.espace-image{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ajout-image{
    width:50%;
    height:20%;
    border-radius: 50px;
}

.espace-audio{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;        
}

.ajout-audio{
    width:50%;
    height:20%;
    border-radius: 50px;
}


/*FIN ECRAN NOUVELLE FICHE*/