*{
    margin:0;
    padding:0;  
    box-sizing: border-box;
}

body{
    min-width:100vw;
    max-width: 100vw;
    height: 100dvh;
}

.ecran{
    width:100%;
    height:100%;
    overflow:hidden;
}

.hidden{
    display:none !important;
}

#accueil{
    display: flex;
    flex-direction: column;
}

.header1{
    height:6%;
    margin-left:1%;
    padding-top:3%;
    display:flex;
    align-items:center;
    gap:0.5rem;
    font-family: "Berkshire Swash", serif;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-style: normal;
    margin-bottom:2%;

}

.MENU{
    background-color:transparent;
    border-style: none;

}

/* je cache le menu latérale qui a pour classe hidden*/

.aside{
    position:absolute;
    margin-top: 12%;
    width:65vw;
    height:20vh;
    display:flex;
    flex-direction:column;
    border:1px solid rgb(0, 0, 0);
    border-left: none;
    background-color:white;
    display:flex;
    flex-direction: column;
}

.bouttonmenu{
    background-color: transparent;
    padding-left:2.5%;
    flex-grow: 1;
    display:flex;
    align-items:center;
    gap:1.2rem;
    border:none;
    font-size:1.2rem;
    font-weight: 500;
    cursor:pointer;
    color: black;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

/*style de la section du tableau ( section et table )*/

#notes-et-fiches{
    width: 100%;
    height:70%;
    margin-top: 3%;
    border: solid;
}

.notes-et-fiches{
    background-color:#D9D9D9;
    width: 100%;
    height: 12%;
    display: flex;
}

.notes-et-fiches button{
    background-color: transparent;
    flex-grow: 1;
    border: none;
    font-family: "Playfair Display", serif;
    font-size: medium;
    font-weight: bold;
}

.notes-et-fiches button:hover{
    background-color: #969696;
}

/*style du bouton affichant les options*/

.bouton{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouton-01{
    background-color: #D9D9D9;
    border-width: 2px;
    border-color: black;
    width:22%;
    height:55%;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
}

/*style des options affichées après le clic sur le bouton + */

#opacite-boutons{
    position:absolute;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:rgba(255, 255, 255, 0.85);
    
}

.boutons{
    margin-top:3%;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.boutonmenu1{
    width:40%;
    height:8%;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight: bold;
}

#opacite-bouton-retour{
    margin-top: 5%;
    width: 15%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px;
}

/*FIN DU STYLE DU PREMIER ECRAN*/



/*DEBUT DU STYLE DE MON PROFIL*/

#mon-profil{
    overflow-x: hidden;
    overflow-y:auto;
}

.header2{
    margin-left:1%;
    padding-top:1%;
    display:flex;
    align-items:center;
    gap:0.5rem;
    font-family: "Patua-One", sans-serif;
    font-weight: bold;
    margin-bottom:2%;
}

.profil{
    width:100%;
    height:30%;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
}

.photo-profil{
    background-color:#D9D9D9;
    width:50%;
    height:80%;
    border-radius:50%;
    border: 1px solid black;
}

.ajout-photo{
    width:30%;
    height:10%;
    border-radius:10px;
}

.infos-profil{
    width:100%;
    height:70%;
    margin-top:5%;
}

.tableau-profil{
    width:100%;
    padding-left:2%;
    padding-right: 2%;
}
 
.tableau-profil tr{
    height:5rem;
}

.tableau-profil label{
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-weight: bold;
    font-size:larger;
}

.tableau-profil input{
    background-color: bisque;
    background-color: transparent;
    margin: auto;
    margin-bottom: 1rem;
    width:100%;
    height:3rem;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-weight: normal;
    font-size: medium;
}

#mon-profil td{
    padding:5%;
    border-bottom: 1px solid #D9D9D9; 
}

.Enregistrer{
    width: 25%;
    height:5%;
    border-radius: 10px;
    position: relative;
    left: 70%;
    bottom:2.5%;
    font-weight: bold;
}

/*FIN DU STYLE MON PROFIL*/



/*DEBUT DU STYLE ASSISTANT*/

/*display:flex column pour ajuster l'espace*/
.assistant1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    gap:5rem;
    
}

/*style de la salutation de l'assistant*/
.salutation{
    align-self: flex-end;
    margin-right: 10%;
    margin-top: 10%;
    width: 85%;
    height:20%;
}
#assistant h2{
    height: 25%;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Playfair Display", serif;

}

h2 .user{
    margin-left:2%;
}

/*style des questions de l'assistant*/
.poser-question{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.question{
    background-color:#D9D9D9;
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:4rem;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}

/*FIN DU STYLE ASSISTANT*/




/*DEBUT DU STYLE CONTACTS*/

.note{
    margin:auto;
    margin-top:10%;
    width:80%;
    height:50%;
    border: black solid 1px;
    padding:2%;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.contenu-note{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    gap:2rem;
    font-family: "Playfair Display", serif;

}

.conceptrice{
    width:80%;
    margin-top:auto;
    margin-bottom:auto;
    align-self:end;
    text-align: end;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.mail{
    font-weight:normal;
}

/*FIN DU STYLE CONTACTS*/





/*DEBUT ECRAN NOUVELLE FICHE*/

#nouvelle-fiche{
    width:100vw;
    height:100dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #D9D9D9;
}

.header3 button{
    background-color: transparent;
    border-style: none;
}

.header3{
    height: 10%;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid 2px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.header3-1{
    display:flex;
    justify-content: space-between;
}

.dossier{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-family: "Rethink Sans", sans-serif;
    font-weight: bold;
}

.date-et-heure{
    font-family: "Ruluko", sans-serif;
}

#titre{
    overflow-wrap: break-word !important;
    overflow-x: auto;
    outline: none;
    max-width:95%;
    height:auto;
    min-height: 10%;
    background-color:#969696;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

}

#titre:empty::before{
    content: "Titre";
}

#titre1{
    overflow-wrap: break-word !important;
    overflow-x: auto;
    outline: none;
    width:95%;
    height:auto;
    min-height: 10%;
    background-color:#969696;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

}

#titre1:empty::before{
    content: "Titre";
}


.espace-notes{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    height:90%;
}

.ecrire-note{
    background-color: #D9D9D9;
    flex-grow: 1;
    overflow-y: auto;
}

.questions{
    padding: 5%;
    height: 100%;
    font-weight: bold;
}

.reponse{
    margin-left: 5%;
    margin-top: 2%;
    min-height: 10%;
    outline: none;
    border:none;
    font-weight: normal;
}
.reponse:empty::before{
    content:"Ecrire ici...";

}

/*style du menu clavier DANS NOUVELLE FICHE*/

.section-menu-clavier{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #D9D9D9;

}

.menu-clavier{
    position: relative;
    width:100%;
    display:flex;
    gap:0.3rem;
    border:black solid 1px;
    
}

.btn1{
    background-color:#969696;
    width:20%;
    border-width: 1px;
}
.btn1:hover{
    border-width: 2px;
    background-color: #656565;
}

.espace-clavier{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.btn{
    background-color:#969696;
    width:20%;
    border-width: 1px;
}
.btn:hover{
    border-width: 2px;
    background-color: #656565;
}
.btn-g{
    background-color:#969696;
    width:40%;
    border-width: 1px;
}
.btn-g:hover{
    border-width: 2px;
    background-color: #656565;
}
.h1{
    border-top-left-radius: 20px;
    border-width: 1px;
    border-bottom-left-radius: 20px;
}
.corps{
    border-top-right-radius: 20px;
    border-width: 1px;
    border-bottom-right-radius: 20px;
}

.groupement{
    display: flex;
    justify-content: center;
    width: 100%;
    height:16%;
    gap:2rem;
}

.titres{
    width:100%;
    height:16.6%;
    display:flex;
    justify-content: space-between;
    gap:0.5rem;
}

.formes{
    width:70%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.espaces{
    width:30%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.alignement{
    width:40%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.listes{
    width:60%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.reserve{
    width:100%;
    height:17%;
    display:flex;
    justify-content: space-between;
    gap:0.5rem;
}

.espace-image{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ajout-image{
    width:50%;
    height:20%;
    border-radius: 50px;
}

.espace-audio{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;        
}

.ajout-audio{
    width:50%;
    height:20%;
    border-radius: 50px;
}


/*FIN ECRAN NOUVELLE FICHE*/





/*DEBUT ECRAN NOUVELLE NOTE*/

#nouvelle-note{
    width:100vw;
    height:100dvh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #D9D9D9;
}

.header3 button{
    background-color: transparent;
    border-style: none;
}

.header3{
    height: 10%;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: solid 2px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.header3-1{
    display:flex;
    justify-content: space-between;
}

.dossier{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-family: "Rethink Sans", sans-serif;
    font-weight: bold;
}

.date-et-heure{
    font-family: "Ruluko", sans-serif;
}

#titre{
    overflow-wrap: break-word;
    outline: none;
    width:95%;
    height:auto;
    min-height: 10%;
    background-color:#969696;
    padding-left: 5%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

}

#titre:empty::before{
    content: "Titre";
}

.espace-notes{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    height:90%;
}

.ecrire-note{
    background-color: #D9D9D9;
    flex-grow: 1;
    overflow-y: auto;
}

.ecrire{
    padding: 5%;
    height: 100%;
    outline: none;
    border:none;
}

.ecrire:empty::before{
    content:"Ecrire ici...";

}

/*style du menu clavier DANS NOUVELLE NOTE*/

.section-menu-clavier{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #D9D9D9;
}

.menu-clavier{
    position: relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:0.3rem;
    border:none;
}

.btn1{
    background-color:#969696;
    width:20%;
    border-width: 1px;
}
.btn1:hover{
    border-width: 2px;
    background-color: #656565;
}

.espace-clavier{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.btn{
    background-color:#969696;
    width:20%;
    border-width: 1px;
}
.btn:hover{
    border-width: 2px;
    background-color: #656565;
}
.btn-g{
    background-color:#969696;
    width:40%;
    border-width: 1px;
}
.btn-g:hover{
    border-width: 2px;
    background-color: #656565;
}
.h1{
    border-top-left-radius: 20px;
    border-width: 1px;
    border-bottom-left-radius: 20px;
}
.corps{
    border-top-right-radius: 20px;
    border-width: 1px;
    border-bottom-right-radius: 20px;
}

.groupement{
    display: flex;
    justify-content: center;
    width: 100%;
    height:16%;
    gap:1rem;
}

.titres{
    width:100%;
    height:16.6%;
    display:flex;
    justify-content: space-between;
    gap:0.5rem;
}

.formes{
    width:70%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.espaces{
    width:30%;
    height:100%;
    display:flex;
    justify-content: flex-end;
    gap:0.5rem;
}

.alignement{
    width:60%;
    height:100%;
    display:flex;
    justify-content: center;
    gap:0.5rem;
}

.listes{
    width:60%;
    height:100%;
    display:flex;
    justify-content: flex-end;
    gap:0.5rem;
}

.reserve{
    width:100%;
    height:17%;
    display:flex;
    justify-content: space-between;
    gap:0.5rem;
}

.espace-image{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ajout-image{
    width:50%;
    height:20%;
    border-radius: 50px;
}

.espace-audio{
    background-color: #D9D9D9;
    overflow: hidden;
    width:100vw;
    height:35vh;
    padding: 5%;
    padding-bottom: 0;
    border: black solid;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;        
}

.ajout-audio{
    width:50%;
    height:20%;
    border-radius: 50px;
}

.tailleH1{
    font-size:2rem ;
    font-weight: bold;
}
.tailleH2{
    font-size:1.5rem ;
    font-weight: bold;
}
.tailleH3{
    font-size:1.17rem ;
    font-weight: bold;
}
.tailleH4{
    font-size:1rem ;
    font-weight: bold;
}
.taillecorpss{
    font-size:1rem ;
    font-weight:normal;
}

.style-normal{
    font-size:1rem;
    font-weight: normal;
}
.styleB{
    font-weight: bold;
}
.styleI{
    font-style: italic;
}
.styleU{
    text-decoration: underline;
}
.styleS{
    text-decoration: line-through;
}

.tab-d{
    margin-left:2rem;
}
.tab-g{
    margin-right:2rem;
}
.xtreme-g{
    text-align: start;
}
.xtreme-d{
    text-align: end;
}
.centre{
    text-align: center;
}


/*FIN ECRAN NOUVELLE NOTE*/


/*DEBUT DU STYLE DE LA BIBLE*/

#bible{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.header4{
    width: 100%;
    height:10%;
    display: flex;
    justify-content: space-around;
}

.en-tete1{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 10%;
    height:100%;
}

.en-tete{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 30%;
    height:100%;
}


.rond{
    background-color:#d9d9d9;
    height:50%;
    border-radius: 50%;
    border: solid 1.5px;
    flex-grow:1;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header4 .en-tete-bouton2{
    background-color:rgb(217, 217, 217,0.6);
    width: 65%;
    height: 50%;
    text-align: center;
    border: none;
}

.testament{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: nowrap;
}

.switch{
    background-color: transparent;
    border-radius: 20%;
}

.livres{
    width: 100%;
    flex-grow: 1;
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 0.5rem;
    column-gap: 1rem;
    overflow-y: auto;
}

.livre{
    width:40%;
    height: 10%;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px;
}

/*FIN DU STYLE DE LA BIBLE*/

/*ECRAN DE LECTURE BIBLE*/

.chap{
    width:100%;
    height:100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.retour{
    position: absolute;
    width: 10%;
}

.chapters{
    flex-grow: 1;
    width:90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    
}

.chap h1{
    width:90%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height:15%;
}


/*STYLE DE ECRAN AFFICHAGE TEXTE*/

.affichage-texte{
    width: 100%;
    height: 100%;
    padding:5%;
}

#affichage-texte{
    width: 100%;
    height: 100%;
    padding: 5%;
    margin-top: 10%;
}

